.players-section {
    background-color: #f5f5f5;
}

.players-hero {
    height: 450px;
    background-image: url(/images/players/players-hero.png);
    background-size: cover;
    background-position: -100px;
}

@media(max-width:768px)
{
    .players-hero {
    height:  150vh !important;
   
}
.players {
    margin-top: -600px !important;
    
}




}
.players {
    margin-top: -360px;
    font-family: sans-serif;
}

.players .heading {
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

.players .heading h1 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.players .heading p {
    font-size: 16px;
}

/* players-filter styling */
.players .search-box {
    position: relative;
}

.players form {
    width: 100%;
    color: #fff;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.players .search-box::before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.1;
    background-color: #fff;
    z-index: 0;
}

.players form select,
.players form input {
    width: 100%;
    height: 34px;
    padding: 5px;
}

.players form select:focus,
.players form input:focus {
    outline: none;
}

.players form .search-btn {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.players form button {
    width: 100%;
    border: none;
    background-color: #1a73e8;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    padding: 7px 10px;
}

/* players-list styling */
.players-list {
    margin-top: 40px;
}

.players-card {
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.players-card .ribbon {
    position: absolute;
    width: 220px;
    height: 30px;
    background-color: #bf3637;
    transform: rotate(-45deg);
    top: 10px;
    left: -86px;
    z-index: 1;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
}

.players-card .top {
    padding: 10px;
    /* padding: 20px ; */
}

.players-card .img {
    height: 120px;
    width: 100%;
    position: relative;
}

.players-card .img i {
    position: absolute;
    bottom: 2px;
    right: 2px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.players-card .img i:hover {
    cursor: pointer;
    color: #bf3637;
}

.players-card .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.players-card .firstname {
    color: #762340;
    font-weight: 700;
    font-size: 20px;
}

.players-card .lastname {
    color: #762340;
    font-size: 24px;
    font-weight: 700;
}

.players-card .lastname span {
    font-size: 16px;
    color: #4d9a46;
}

.players-card .top .content {
    text-align: center;
}

.players-card .top .content img {
    width: 30px;
}

.players-card .top .content b {
    font-size: 16px;
}

.players-card .profile-btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #ddd;
}

.players-card .profile-btn a {
    text-decoration: none;
    display: inline-block;
    background-color: #bf3637;
    color: #fff;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.players-card .profile-btn a:hover {
    background-color: #751717;
}

.players-card .bottom {
    background-color: #185abc;
    padding: 6px 20px;
    color: #fff;
}

.players-card .bottom .content {
    text-align: center;
}

.players-card .bottom .views {
    border-left: 1px solid #ddd;
}

.players-card .bottom b {
    font-size: 16px;
}


